* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single+Ink:wght@100..900&family=Kablammo&family=Licorice&family=Satisfy&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

h1 {
  font-family: 'Bitcount Single Ink', sans-serif;
}
:root {
  --vinho: #651f71;
  --cinza: #393e46;
  --azul: #506ee5;
  --branco: #eeeeee;
  --roxoclaro: #1d0c20;
  --roxo: #7037cd;
  --ciano: #68b2f8;
}

body {
  background-color: var(--roxoclaro);
  color: var(--branco);
  line-height: 1.6;
}


header {
  background: var(--vinho);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
}
nav a {
  color: var(--text);
  text-decoration: none;
  margin-left: 1rem;
  transition: 0.3s;
}